<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

 <!--  TOP MENU  -->
	<header>		
			<span class="material-symbols-outlined">quiet_time</span>MAVER
	</header>
	<div id="menu">
        <ul>
            <!--  HOME  -->
            <li>
                <a href="#">HOME</a>
            </li>

            <!--  ABOUT  -->
            <li>
                <a href="#">ABOUT</a>
            </li>

            <!--  Unknown  -->
            <li>
                <a href="#">MY CAFE</a>
                <ul>
                    <li><a href="#">즐겨찾는 카페</a></li>
                    <li><a href="#">이웃 카페</a></li>
                    <li><a href="#">운영 카페</a></li>
                </ul>
            </li>

            <!--  Board  -->
            <li>
                <a href="#">BOARD</a>
                <ul>
                    <li><a href="#">NOTICE</a></li>
                    <li><a href="#">FREEBOARD</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </li>
            
        </ul>
    </div> <!-- END 'TOP MENU'-->